form {
	width: 450px;
	margin: auto;
	background: rgba(0,0,0,0.1);
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 40px;
	border-radius: 7px
}
h2 {
	text-align: center;
	margin: 0;
	font-size: 30px;
	margin-bottom: 20px;
}
input, textarea {
	color: #525C65;
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
	border: none;
}
textarea {
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;
}
#boton {
	padding: 20px;
}
#boton:hover {
	cursor: pointer;
}
/*
div#negro {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
}
div#dialogo{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -200px;
	width: 200px;
	height: 100px;
	background-color: white;
	border-radius: 3px;
	border: 1px solid #DBDBDB;
}
div#dialogo p{
	padding: 10px;
	padding-top: 20px;
	font-size: 1.3em;
	text-align: center;

}
*/
@media(max-width:480px) {
	form {
		width: 100%;
	}
}