#ubicacion {
	margin-top: 130px;
	margin-bottom: 0;
	background: #F2F2F2;
	height: 550px;
	padding-top: 20px;
	justify-content: center;
}

#mapa {
	top: 20px;
	height: 20%;
}
.google-maps {
	position: relative;
	margin: auto;
	text-align: center;
}

#ubicacion p {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	color: #404040;
	text-align: justify;
	font-size: 18px;
}

#registro {
	margin-bottom: 0;
	padding-top: 20px;
	width: 100%;
	height: 800px;
	background: #F2F2F2;
}
form {
	margin-top: 0px;
	width: 500px;
	margin: auto;
	background: rgba(0,0,0,0.1);
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 40px;
	border-radius: 7px;
}
h2 {
	text-align: center;
	margin: 0;
	font-size: 30px;
	margin-bottom: 20px;
	color: #404040;
}
input, textarea {
	color: #525C65;
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
	border-radius: 5px;
	border: none;
}
textarea {
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;
}
#boton {
	padding: 20px;
}
#boton:hover {
	cursor: pointer;
}


footer .pie {
	width: 100%;
	height: 220px;
	margin-top: 0;
	padding-top: 20px;
	display: block;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	background: #133046;
	color: #fff;
}

@media (max-width: 658px) {
	
	form {
		width: 100%;
		background: #F2F2F2;
	}
}

@media (min-width: 659px) {
	#registro {
		width: 100%;
		background: #F2F2F2;
	}
	#mapa {
		top: 20px;
		height: 40%;
	}
	.google-maps {
		position: relative;
		margin: auto;
		text-align: center;
	}
	footer .pie {
		height: 220px;
	}
	.pie p {
		text-align: center;
		justify-content: center;
	}
}

@media (min-width: 1024px) {
	body {
		background: #F2F2F2;
	}
	#registo {
		width: 50%;
		float: right;
		padding-top: 20px;
	}
	form {
		float: right;
		transform: translateX(-20%) translateY(18%);		
	}
	#ubicacion {	
		margin-top: 130px;
		padding-top: 20px;
		margin-bottom: -50px;
		width: 50%;
		height: 650px;
		float: left;
		background: #F2F2F2;
	}
	#ubicacion p {
		padding-top: 30px;
		color: #404040;
		text-align: center;
		font-size: 20px;
	}
	#mapa {
		width: 50%;
		height: 50%;
	}
	footer .pie {
		margin-top: 95px;
		margin-bottom: 0;
	}
	.pie p {
		text-align: center;
		padding-top: 30px;
	}
}
/*
div#negro {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
}
div#dialogo{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -200px;
	width: 200px;
	height: 100px;
	background-color: white;
	border-radius: 3px;
	border: 1px solid #DBDBDB;
}
div#dialogo p{
	padding: 10px;
	padding-top: 20px;
	font-size: 1.3em;
	text-align: center;

}
*/
