body {
	margin-bottom: 0;
}
#info {
	margin: auto;
	margin-top: 50px;
	width: 100%;
	background: #8AA9BE;
	color: #fff;
	margin-bottom: 20px;
	text-align: center; 
	padding: 20px;
	font-size: 22px;
}
#info .contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedor h4 {
	font-size: 18px;
}
.simulador {
	margin: 20px;
}
.simulador img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 5px solid #fff;
}

@media (min-width: 1080px) {
	#info {
		margin: auto;
		width: 80%;
	}
}
