#menu-bar {
	display: none;
}

header label {
	float: right;
	font-size: 30px; /*tamaño de letra*/
	margin: 5px 5px;
	cursor: pointer; /*cambio al pasar el mouse*/
}

#buscador {
	padding-top: 15px;
	padding-right: 15px;
	width: 100%
	background: rgba(0,0,0,0.1);
}

.menu {
	position: absolute;
	top: 128px;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #21A4D3;
	transition: all 0.5s; /*da el movimiento al menu*/
	transform: translateX(-100%); /*mivimiento horizontal "X" de menos 100%*/	
}

.menu a {
	display: block;
	font-size: 20px;
	color: #fff;
	height: 50px;
	text-decoration: none;
	padding: 15px;
	border-bottom: 1px solid #BEBEBE;
}

.menu a:hover {
	background: rgba(0,0,0,0.2);
}
#menu-bar:checked ~ .menu {
	transform: translateX(0%);
}

#logo {
	float: left;
	max-width: 100%;
	height: 50px;
	margin-top: 5px;
}

#logo img {
	float: left;
}

#logo h1 {
	float: left;
	margin-left: 5px;	
}

@media (min-width: 1024px) {
	.menu {
		margin-top: 5px;
		position: static;
		width: auto;
		height: auto;
		transform: translateX(0%);
		float: right;
		display: flex;
	}

	.menu a {
		border: none;
		font-size: 18px;
	}

	header label {
		display: none;
	}
}
@media (max-width: 659px) {
	header label {
		display: block;
	}
	#logo img {
		width: 90%;
	}
	#logo h1 {
		display: none;
	}	
}

@media (min-width: 659px) {
	#buscador {
		width: 60%;
	}
}
