
#var img {
	width: 100%;
	height: 100%;
}

#bienvenido {
	top: 0;
	padding: 10px;
	text-align: center;
	height: 400px;
	width: 100%;
	background: #F1F1F1;
}

#bienvenido p {
	text-align: justify;
	font-size: 16px;;
	color: #404040;
	top: 20%;
}

/* Css de blog */
#blog {
	background: #F1F1F1;
	margin-top: -30px;
}
.contenido {
	margin: auto;
	padding: 20px;
	justify-content: center;
}

.info_columna {
	background: #21A4D3;
	color: #fff;
	padding: 15px;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
}

.info_img {
	display: block;
	max-width: 100%;
	width: 100%;
	height: 260px;
}
.info_titulo {
	letter-spacing: 1.5px;
}

.info_txt {
	text-align: justify;
	font-size: 16px;
}

@media (max-width: 480px) {
	#bienvenido {
		height: 600px;
	}
}

@media (min-width: 658px) {
	.contenido {
		display: flex;
		justify-content: space-between;
	}
	#bienvenido {
		height: 320px;
	}

	#bienvenido p {
		padding-top: 20px;
	}

	.info_titulo {
		font-size: 22px;
		margin: 5px 0;
	}
}

@media(min-width: 868px) {
	
	#blog h2 {
		font-size: 40px;
	}
	.info_columna {
		width: 32%;
	}

	#bienvenido {
		height: 300px;
	}

	#bienvenido p {
		padding-top: 20px;
		font-size: 18px;
	}	
}

@media (min-width: 1024px) {
	#bienvenido {
		margin: auto;
		width: 80%;
}

	#blog {
		margin: auto;
		width: 80%
	}
}
/*
#blog h3, h4, p {
	text-align: center;
}

#blog {
	margin-top: 0;
	padding: 10px;
}

#blog .contenedor {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#blog article {
	margin: 15px;
}


*/

